*,
*::before,
*::after {
    box-sizing: border-box;   
}
.type{
width: 78px;
height: 48px;
padding: 0px;
border: none;
border-radius: 2px;
color: blue;
}
.styles{
font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
color: blue;
}
.div{
    font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
color: black;
}
.title{
 color: rgb(156, 152, 152);

font-family: Roboto;
font-style: Medium;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2%;
text-align: left;
}
.ul{
width: 161px;
height: 16px;
background-color: white;
color:gray ;
}
.svg{
    width: 142px ;
    height: 16px ;
    background-color: white;
    color: gray;
}
.button-title{
width: 73px;
height: 38px;
background-color:rgba(245, 244, 250, 1) ;
color: rgba(33, 33, 33, 1) ;
border: none;
cursor: pointer;
color: black;
}
.button-title:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
 }
.button-text{
width: 125px;
height: 38px;
border-radius: 4px;
padding: 10px 24px;
background-color: rgba(245, 244, 250, 1);
color: rgba(33, 33, 33, 1);
border: none;
cursor: pointer;
color: black;
}
.button-text:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
 }
.button-style{
width: 112px;
height: 38px;
background-color: rgba(245, 244, 250, 1);
color: rgba(33, 33, 33, 1) ;
border: none;
cursor: pointer;
color: black;
}
.button-style:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
}
.button-design{
width: 103px;
height: 38px;
background-color: rgba(245, 244, 250, 1);
color:  rgba(33, 33, 33, 1) ;
border: none;
cursor: pointer;
color: black;
}
.button-design:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
}
.button-chaos{
width: 130px;
height: 38px;
background-color: rgba(245, 244, 250, 1) ;
color: rgba(33, 33, 33, 1) ;
border: none;
cursor: pointer;
color: black;
}
.button-chaos:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
}
.avatar{
color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.meta{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.for{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.overlay{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.rel{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.vs{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.cell{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.instagram{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.label{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.stylesheet{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.linkedin{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.initial-scale{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.list{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.ul{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.link{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.en{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.li{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.width{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.nav{
    font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
background-color:black;
color: blue;
}
.name{
    font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
background-color: black;
color: white;
}
.html{
    color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
background-color: black;
color: white;
}
.has{
    color: rgba(255, 255, 255, 0.6);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
background-color: black;
color: gray;
}
.head{
    color: rgba(255, 255, 255, 0.6);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
background-color: black;
color: gray;
}
.device-width{
    color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Bold;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;
color: antiquewhite;
}
.class{
    color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Bold;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 6%;
text-align: center;
background-color: blue;
color: white;
}
.css{
    color: rgba(255, 255, 255, 0.6);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 3%;
text-align: left;;
color: gray;
}
.body{
color: rgba(255, 255, 255, 1);
font-family: Roboto;
font-style: Bold;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;;
color: white;
}
.address{
    background-color: black;
}
.ul,li{
    list-style: none;
}
.header{
    width: 1600px;
height: 80px;
background: rgba(255, 255, 255, 1);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;  
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.item{
 flex-basis: calc((100% - 90px) / 4);
  height: 294px;
  font-size: 16px;
  color: gray;
}
.footer-content{
     display: flex;
    justify-content: space-between;
    align-items: center;  
}
.listcards{
     display: flex;
    flex-wrap: wrap;
     gap: 30px;
   
    justify-content:space-evenly;
    align-items: center;
}
.button-content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

