*,
*::before,
*::after {
    box-sizing: border-box;   
}
a{
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
}
.header{
    background: rgba(255, 255, 255, 1);
}
.title{

color: rgba(33, 33, 33, 1);
font-family: Roboto;
font-style: Medium;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2%;
text-align: left;
cursor: pointer;
}

.logo-web{
    

font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
color: rgba(33, 150, 243, 1);
}

.logo-studio{

font-family: Raleway;
 width: 145px;
height: 31px;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
color: rgba(0, 0, 0, 1);
}

.title{
    
 color: rgb(156, 152, 152);

font-family: Roboto;
font-style: Medium;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2%;
text-align: left;
cursor: pointer;
}

.contact-email{
color: rgba(117, 117, 117, 1);
}
.contact-email:hover,.contact-phone:hover{
    color: rgba(33, 150, 243, 1);
}
.contact-phone{
  color: rgba(117, 117, 117, 1);   
}
.main{
    padding-top: 94px;
}
.button-title{
width: 73px;
height: 38px;
background-color:rgba(245, 244, 250, 1) ;
color: rgba(33, 33, 33, 1) ;
border: none;
cursor: pointer;
color: black;
}
.button-title:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
 }
.button-text{
width: 125px;
height: 38px;
border-radius: 4px;
padding: 10px 24px;
background-color: rgba(245, 244, 250, 1);
color: rgba(33, 33, 33, 1);
border: none;
cursor: pointer;
color: black;
}
.button-text:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
 }
.button-style{
width: 112px;
height: 38px;
background-color: rgba(245, 244, 250, 1);
color: rgba(33, 33, 33, 1) ;
border: none;
cursor: pointer;
color: black;
}
.button-style:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
}
.button-design{
width: 103px;
height: 38px;
background-color: rgba(245, 244, 250, 1);
color:  rgba(33, 33, 33, 1) ;
border: none;
cursor: pointer;
color: black;
}
.button-design:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
}
.button-chaos{
width: 130px;
height: 38px;
background-color: rgba(245, 244, 250, 1) ;
color: rgba(33, 33, 33, 1) ;
border: none;
cursor: pointer;
color: black;
}
.button-chaos:hover{
   color:rgba(255, 255, 255, 1);
   background-color:rgba(33, 150, 243, 1);
}
.avatar{
    width: 322px;
height: 36px;
color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style:"bold";
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.meta{
width: 322px;
height: 30px;
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.for{
    width: 322px;
height: 36px;
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.overlay{
    width: 322px;
height: 30px;
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.rel{
    width: 322px;
height: 36px;
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.vs{
    width: 322px;
height: 30px;
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.cell{
    width: 322px;
height: 36px;
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.instagram{
    width: 322px;
height: 30px;
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.label{
    width: 322px;
height: 36px;
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.stylesheet{
    width: 322px;
height: 30px;
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.linkedin{
    width: 322px;
height: 36px;
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.initial-scale{
    width: 322px;
height: 30px;
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.list{
    width: 322px;
height: 36px;
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.ul{
    width: 322px;
height: 30px;
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.link{
    width: 322px;
height: 36px;
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.en{
    width: 322px;
height: 30px;
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.li{
    width: 322px;
height: 36px;
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: 'Bold';
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 6%;
text-align: left;
}
.width{
    width: 322px;
height: 30px;
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: 'Regular';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 3%;
text-align: left;
}
.footer-logo-web{
    font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
background-color:black;
color: blue;
}
.footer-logo-studio{
    font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
background-color:black ;
color: white;
}
.html{
    color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
background-color: black;
color: white;
background: rgba(47, 48, 58, 1);
}
.has{
    color: rgba(255, 255, 255, 0.6);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
background-color: black;
color: gray;
background: rgba(47, 48, 58, 1);
}
.head{
    color: rgba(255, 255, 255, 0.6);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
background-color: black;
color: gray;
background: rgba(47, 48, 58, 1);
}
.device-width{
    color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Bold;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;
color: antiquewhite;
}
.subscribe-btn{
    color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Bold;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 6%;
text-align: center;
background-color: blue;
color: white;
}
.footer-link{
    color: rgba(255, 255, 255, 0.6);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 3%;
text-align: left;;
color: gray;
}
.subscribe-title{
color: rgba(255, 255, 255, 1);
font-family: Roboto;
font-style: Bold;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;;

}
.address{
    background: rgba(47, 48, 58, 1);
    height: 252px;
}
.ul,li{
    list-style: none;
}
.header{
background: rgba(255, 255, 255, 1);
 border: 1px solid rgba(236, 236, 236, 1); 
 padding: 25px 0px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;  
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
   
    background: rgba(255, 255, 255, 1);
}
.nav{
    display: flex;
    align-items: center;
    gap: 93px;
}

.footer-content{
     display: flex;
    justify-content: space-between;
    align-items: center;  
    background: rgba(47, 48, 58, 1);
}
.listcards{
     display: flex;  
    align-items:center ; 
    flex-wrap: wrap;  
    gap: 30px; 
}
.listcards-item{ 
  flex-basis: calc((100% - 60px) / 3);
}
.button-content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
    gap: 8px;
}

.nav-list{   
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}
.header-contacts{
    display: flex;
    gap: 30px;
}
.footer-logo-web{
background: rgba(47, 48, 58, 1);
}
.footer-logo-studio{
    background: rgba(47, 48, 58, 1);
}

.social-list{
display: flex;
    gap: 34px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center ;
}
.logo-link:hover,.title:hover{
color: rgba(33, 150, 243, 1);
}





